td:last-child,
th:last-child {
  text-align: right;
  min-width: 9em;
}

p {
  max-width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-button {
  margin-left: 0.5em;
}
