<mat-sidenav-container class="container">
  <mat-sidenav opened mode="side" class="sidenav" *ngIf="user">
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="recipes">Recipes</a>
      <a mat-list-item routerLink="ingredients">Ingredients</a>
      <a mat-list-item routerLink="pantry">Current levels</a>
      <a mat-list-item routerLink="shopping-lists">Shoping List</a>
      <a mat-list-item routerLink="users">Inspiration</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="handleSignOut()">Sign out</a>

      <div class="settings-link">
        <img [src]="this.user.photoURL" />
        <a mat-list-item routerLink="settings">
          {{ this.user.displayName }}
          <br />
          <span>{{ this.user.email }}</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <main>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</mat-sidenav-container>
