<header>
  <h1>Create new recipe</h1>
</header>
<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Enter a title</mat-label>
    <input matInput placeholder="Ex. Tomatoes" formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter a cooking time</mat-label>
    <input matInput type="number" formControlName="cookingTime" />
  </mat-form-field>
  <mat-form-field appearance="outline" style="flex: 1; flex-basis: 100%">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div formArrayName="ingredients" class="dynamic-form-group">
    <h2>Ingredients</h2>
    <div
      *ngFor="let ingredient of ingredientForms.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field>
        <mat-label>Select Ingredients</mat-label>
        <input
          type="text"
          matInput=""
          formControlName="ingredientItemId"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let ingredient of filteredIngredients | async"
            [value]="ingredient['id']"
          >
            {{ ingredient["title"] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="deleteIngredientField(i)"
        *ngIf="ingredientForms.controls.length > 1"
      >
        Delete
      </button>
    </div>

    ​
    <!-- <form [formGroup]="ingredientForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter quantity</mat-label>
        <input matInput type="number" formControlName="quantity" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Units</mat-label>
        <mat-select formControlName="unit">
          <mat-optgroup label="Volume">
            <mat-option value="ml">ml</mat-option>
            <mat-option value="cl">cl</mat-option>
            <mat-option value="dl">dl</mat-option>
            <mat-option value="l">l</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Weight">
            <mat-option value="g">g</mat-option>
            <mat-option value="hg">hg</mat-option>
            <mat-option value="kg">kg</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Quantity">
            <mat-option value="pieces">Pieces</mat-option>
            <mat-option value="packs">Packs</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </form>

    <form [formGroup]="instructionForm"></form>

    Selected Ingredient: {{ ingredientForm.value | json }} -->
  </div>
</form>
