<header>
  <h1>Create new recipe</h1>
</header>
<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Enter a title</mat-label>
    <input matInput placeholder="Ex. Tomatoes" formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter a cooking time</mat-label>
    <input matInput type="number" formControlName="cookingTime" />
  </mat-form-field>
  <mat-form-field appearance="outline" style="flex: 1; flex-basis: 100%">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div formArrayName="ingredients" class="dynamic-form-group">
    <h2>Ingredients</h2>
    <div
      *ngFor="let ingredient of ingredientForms.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline">
        <mat-label>Ingredients</mat-label>
        <mat-select formControlName="ingredientId">
          <mat-option
            *ngFor="let ingredient of ingredients"
            [value]="ingredient['id']"
            >{{ ingredient["title"] }} ({{ ingredient["unit"] }})</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter quantity</mat-label>
        <input matInput type="number" formControlName="quantity" />
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="deleteIngredientField(i)"
        *ngIf="ingredientForms.controls.length > 1"
      >
        Delete
      </button>
    </div>
    <button mat-raised-button (click)="addIngredientField()" type="button">
      Add ingredient
    </button>
  </div>

  <div formArrayName="instructions" class="dynamic-form-group">
    <h2>Instructions</h2>
    <div
      *ngFor="let instruction of instructionForms.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline">
        <mat-label>Instruction</mat-label>
        <mat-select formControlName="type">
          <mat-option value="default">Default</mat-option>
          <mat-option value="warning">Warning</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter a description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="deleteInstructionField(i)"
        *ngIf="instructionForms.controls.length > 1"
      >
        Delete
      </button>
    </div>
    <button mat-raised-button (click)="addInstructionField()" type="button">
      Add instruction
    </button>
  </div>
  <button mat-raised-button type="submit" color="primary" class="submit">
    Add
  </button>
</form>
