<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter a title</mat-label>
      <input
        matInput
        maxlength="10"
        placeholder="Ex. Tomatoes"
        formControlName="title"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter a cooking time</mat-label>
      <input matInput type="number" formControlName="cookingTime" />
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit">Add</button>
</form>
