<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Enter a title</mat-label>
    <input
      matInput
      #input
      maxlength="10"
      placeholder="Ex. Tomatoes"
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Units</mat-label>
    <mat-select formControlName="unit">
      <mat-optgroup label="Volume">
        <mat-option value="ml">ml</mat-option>
        <mat-option value="cl">cl</mat-option>
        <mat-option value="dl">dl</mat-option>
        <mat-option value="l">l</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Weight">
        <mat-option value="g">g</mat-option>
        <mat-option value="hg">hg</mat-option>
        <mat-option value="kg">kg</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Quantity">
        <mat-option value="pieces">Pieces</mat-option>
        <mat-option value="packs">Packs</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit">
    {{ currentUpdateIngredient ? "Edit" : "Add" }}
  </button>
</form>
