<div class="container">
  <div class="full">
    <h1>{{ recipe["title"] }}</h1>
    <p>{{ recipe["description"] }}</p>
    <mat-chip color="accent">{{ recipe["cookingTime"] }} minutes</mat-chip>
  </div>
  <div class="ingredients">
    <h2>Ingredients</h2>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let ingredient of recipe['ingredients']"
      >
        {{ ingredient["title"] }} – {{ ingredient["quantity"] }}
        {{ ingredient["unit"] }}
      </mat-list-item>
    </mat-list>
  </div>

  <div class="instrucitons">
    <h2>Instructions</h2>
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let instruction of recipe['instructions']">
        <div>
          <span>{{ instruction["description"] }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<button
  mat-raised-button
  color="warn"
  (click)="deleteRecipe(recipe['id'])"
  *ngIf="recipe['userId'] === this.user?.uid"
>
  Delete
</button>
