<form (ngSubmit)="handleSubmit()" [formGroup]="form" class="box-shadow">
  <mat-form-field appearance="outline">
    <mat-label>Enter a title</mat-label>
    <input
      matInput
      #input
      maxlength="10"
      placeholder="Ex. Tomatoes"
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="Frozen">Frozen</mat-option>
      <mat-option value="Refrigerated">Refrigerated</mat-option>
      <mat-option value="Pantry">Pantry</mat-option>
      <mat-option value="Fresh">Fresh</mat-option>
      <mat-option value="Spices">Spices</mat-option>
      <mat-option value="Condiments">Condiments</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-fab type="submit" color="primary">
    <mat-icon>add</mat-icon>
  </button>
</form>
