<nav class="h-full bg-white p-10 flex flex-col text-left" *ngIf="this.user">
  <a class="p-3" routerLink="">Home</a>
  <a class="p-3" routerLink="recipes">Recipes</a>
  <a class="p-3" routerLink="ingredients">Ingredients</a>
  <a class="p-3" routerLink="pantry">Current levels</a>
  <a class="p-3" routerLink="shopping-list">Shoping List</a>
  <a class="p-3" routerLink="inspiration">Inspiration</a>
  <button (click)="handleSignOut()" class="text-left p-3">Sign out</button>
  <a class="mt-auto" routerLink="settings">{{ this.user.displayName }}</a>
</nav>
