<table mat-table [dataSource]="ingredients" class="box-shadow">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let ingredient">{{ ingredient.title }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let ingredient">{{ ingredient.type }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let ingredient">
      <button
        mat-raised-button
        color="warn"
        (click)="deleteIngredient(ingredient.id)"
      >
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['title', 'type', 'action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['title', 'type', 'action']"></tr>
</table>
