<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Redo at inspireras?</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut soluta eos
        pariatur hic deserunt accusamus veritatis libero impedit voluptatibus
        omnis iusto nihil in consectetur, ad atque enim, assumenda provident
        voluptates?
      </p>
    </div>
    <div class="form-container">
      <h1>Välkommen till Receptkungen</h1>
      <h5>Logga in med ditt Google konto genom att klicka på knappen nedan</h5>
      <button mat-raised-button (click)="login()">Logga in</button>
      <!-- <app-login-form (formData)="login($event)"></app-login-form> -->
    </div>
  </div>
</div>
